@media (max-width:600px){
    .banner-option {
        height: auto;
        flex-direction: column;
        margin: 100px;
}
.banner1,.banner3{
border-radius: 0px;
}
.banner-headline h2 {
    font-size: 17px;
}
.banner-headline h1 {
    font-size: 55px;
}
#banner{
    margin-bottom: 230px;
}
.container{
    flex-direction: column;
}
#geral section, #geral aside{
   padding: 20px;
}
.footer-menu{
    flex-direction: column;
}
.footer-area{
    flex-direction: column;
    padding-left: 20px;
}
.fm1, .fm3 {
    border-radius: 0;
}
.copy{
    padding-left: 20px;
}
header .container{
    flex-direction: row;
}
}